@model SistemaWebEmpleado.Models.Empleado

@{
    ViewBag.Title = "Details";
}
<fieldset>
    <legend>Detalle de Empleado</legend>
    <div>
        @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div>
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div>
        @Html.DisplayNameFor(model => model.Apellido)
    </div>
    <div>
        @Html.DisplayFor(model => model.Apellido)
    </div>

    <div>
        @Html.DisplayNameFor(model => model.DNI)
    </div>
    <div>
        @Html.DisplayFor(model => model.DNI)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.Legajo)
    </div>
    <div>
        @Html.DisplayFor(model => model.Legajo)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.Titulo)
    </div>
    <div>
        @Html.DisplayFor(model => model.Titulo)
    </div>



</fieldset>
<p>
    @Html.ActionLink("Volver a Lista", "Index", "Empleado")
</p>

